.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1.5rem 2.5rem;
}

.tab-btn-group {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.tab-btn {
  color: #565656;
  font-weight: 700;
  text-transform: uppercase;
  background-color: none;
  border: none;
}
.tab-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tab-dropdown {
  margin-left: auto;
  padding: 0.5rem;
  font-size: smaller;
  border-radius: 2px;
  border-color: #d5d5d5;
  outline: none;
}
